################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
bin/
obj/

# Playwright
.playwright/

# Test artifacts
screenshots/
*.webm
*.png
nunit_random_seed.tmp

# Build files
*.cache
*.dll
*.pdb
*.tmp

# Scripts (generated)
*.ps1
*.sh

# IDE
.vs/
*.user
*.suo

# Debug files
debug_*.png
